body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 1.6;
  font-weight: 400;

  color: #E5E5E5;
  background-color: #000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  overflow-x: hidden;
  scroll-behavior: smooth;

  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  display: flex;
}

header h2 {
  margin: 2rem;
  font-family: 'Anton', sans-serif;
}

/* .hero {
  height: 100vh;
  width: 100%;
  background-color: #000;
} */

.header-options {
  display: flex;
  font-size: 24px;
  align-items: center;
  color: #DB2422;
  margin-left: 900px;
}

.logo {
  height: 100px;
  width: 100px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.background {
  height: 100%;
  width: 100%;
}

.sobre {
  display: flex;
}

.sobre-image {
  height: 900px;
  width: 1100px;
}

.albuns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albuns-options {
  display: flex;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}

.albuns-cover {
  /* height: 500px;
  width: 500px;
  margin-top: 50px; */

  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: all 0.4s ease;
}

.albuns-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.albuns-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
  opacity: 0.3;
  filter: blur(2px);
  transform: scale(0.85);
  transition: all 0.8s ease;
  cursor: pointer;
}

.albuns-preview:hover {
  opacity: 0.5;
}

.arrow-left {
  width: 24px;
  height: 24px;
  background-color: currentColor;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  display: inline-block;
  margin-right: 50px;
  transition: transform 0.8s;
}

.arrow-left:hover {
  transform: scale(1.25);
}

.arrow-right {
  width: 24px;
  height: 24px;
  background-color: currentColor;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  display: inline-block;
  margin-left: 50px;
  transition: transform 0.8s;
}

.arrow-right:hover {
  transform: scale(1.25);
}